<div class="Polaris-FormLayout__Item <%= class_extra_form_item %>">
  <div class="<% if label_hidden -%>Polaris-Labelled--hidden<% end -%>">
    <div class="Polaris-Labelled__LabelWrapper">
      <div class="Polaris-Label"><%= form.label field ,class: 'Polaris-Label__Text' %></div>
    </div>
    <div class="Polaris-Connected">
      <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
        <div class="Polaris-TextField Polaris-TextField--hasValue"> <%= form.number_field field , {class: 'Polaris-TextField__Input'} %>
          <div class="Polaris-TextField__Backdrop"></div>
        </div>
      </div>
    </div>
    <% if defined?(help_text) %>
      <div class="Polaris-Labelled__HelpText"><%= help_text %></div>
    <% end %>
  </div>
</div>