<span class="Polaris-Tag">
  <span title="<%= store_tag.tag.name %>" class="Polaris-Tag__TagText"><%= store_tag.tag.name %></span>
  <%= link_to [store,store_tag], {method: :delete, remote: true}, class: "Polaris-Tag__Button" do %>
    <span class="Polaris-Icon">
      <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
          <path d="M11.414 10l4.293-4.293a.999.999 0 1 0-1.414-1.414L10 8.586 5.707 4.293a.999.999 0 1 0-1.414 1.414L8.586 10l-4.293 4.293a.999.999 0 1 0 1.414 1.414L10 11.414l4.293 4.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z" fill-rule="evenodd"></path>
      </svg>
    </span>
  <% end %>
</span>