<div class="Polaris-FormLayout__Item">
  <div class="">
    <div class="Polaris-Labelled__LabelWrapper">
      <div class="Polaris-Label"><%= form.label field ,class: 'Polaris-Label__Text' %></div>
    </div>
    <div class="Polaris-TextField">
      <%= form.text_field field , {class: 'Polaris-TextField__Input', placeholder: placeholder} %>
      <div class="Polaris-TextField__Backdrop"></div>
    </div>
  </div>
</div>