<div class="Polaris-Layout__AnnotatedSection">
  <div class="Polaris-Layout__AnnotationWrapper">
    <div class="Polaris-Layout__Annotation">
      <div class="Polaris-TextContainer">
        <h2 class="Polaris-Heading"><%= @title %></h2>
        <p><%= @description %></p>
      </div>
    </div>
    <div class="Polaris-Layout__AnnotationContent">
      <div class="Polaris-Card">
        
          <%= content %>
        
      </div>
    </div>
  </div>
</div>